.about-us-container {
    padding: 50px 65px;
    background-color: white;
    width: 1049px;
    height: 1009px;
    margin: 40px auto 100px auto;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }
  .textfont {
    margin: 0;
    font-size: 27px;
    max-width: 120px;
    line-height: 22px;
    letter-spacing: 0.3px;
    padding-bottom: 12px;
    font-weight: 500;
  }
  
  .textfont::before {
    width: 196px;
    height: 2px;
    border: 1px solid rgba(87, 87, 87, 0.5);
    position: absolute;
    bottom: 449px;
    content: "";
  }
  .textfont1 {
    margin: 0;
    font-size: 27px;
    max-width: 120px;
    line-height: 22px;
    letter-spacing: 0.3px;
    padding-bottom: 62px;
    margin-top: 158px;
  }
  .textfont1::before {
    width: 196px;
    height: 2px;
    border: 1px solid rgba(87, 87, 87, 0.5);
    position: absolute;
    bottom: -108px;
    content: "";
  }
  .about-desc {
    margin-top: 30px;
    color: #625c5a;
    font-size: 16px;
    height: 322px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  .go-featuredSection {
    margin-bottom: 72px;
  }
  .container {
    width: 1096px;
    /* margin: 0 auto;
    position: relative; */
  }
  .go-featuredLinks {
    position: relative;
    display: inline-block;
    margin: 0 -6px;
  }
  /* .go-featuredLinks > a {
    box-sizing: border-box;
    float: left;
    width: calc(20% - 24px);
    width: -webkit-calc(20% - 24px);
    width: -moz-calc(20% - 24px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 #222;
    margin: 0 12px 24px;
    text-decoration: none;
    display: inline-block;
    color: #16171a;
  } */
  /* .row1 {
    content: "";
    clear: both;
    display: table;
  } */
  /* .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }  */
  .column1 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    /* float: left;
    width: 33.33%;
    padding: 5px; */
    width: 85%;
  }
  