.main-footer {
    color: white;
    background-color: #2d3e50;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
  }
  .border {
    color: #adb5bd;
  }
  
  .head {
    font-family: "Roboto", Arial, Calibiri, sans-serif;
    color: #8eb55a;
  }
  